@media (min-width: 500px) {
  .mainHeader {
    width: 412px !important;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
  }
}

.mainHeader {
  height: 50px;
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}
