#aa {
  overflow-x: hidden;
}

.body {
  padding: 0px 20px 85px 20px;
}

#infoBody {
  margin-top: 10px;
  display: flex;
}
#infoLeft {
}

#infoRight {
  margin-left: 10px;
}

#profileImg {
  width: 80px;
  height: 80px;
  border-radius: 70%;
  overflow: hidden;
}

#profileImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#head {
  font-family: "PreRegular";
  font-size: 17px;
  display: flex;
}

#head span {
  color: #ff6666;
}

#head div {
  margin-left: 150px;
  color: #ff6666;
}

#infoRight p {
  margin-top: 20px;
  font-family: "PreLight";
}

.subtitle {
  font-family: "PreMedium";
  font-size: 17px;
  margin-left: 10px;
}
