.radioBox2 {
  display: flex;
  border: 2px solid #ccc;
  padding: 10px;
  /* margin-right: 7px; */
  cursor: pointer;
  transition: border-color 0.3s;
  margin-top: 10px;
  color: gray;
  font-family: PreMedium;
  font-size: 15px;
  border-radius: 10px;
}

.radioBox2.active {
  border-color: #ff8989;
  color: #ff8989;
}

.radioBox2 input[type="radio"] {
  display: none;
}

.radioBox2 input[type="checkbox"] {
  display: none;
}

.questionNumber {
  color: #323232;
  font-family: PreSemiBold;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 40px;
}

.questionText1 {
  color: #323232;
  font-family: PreSemiBold;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
  /* margin-bottom: 30px; */
}

.questionText2 {
  color: #323232;
  font-family: PreSemiBold;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 30px;
}

.careInfoText {
  color: #2a2a2a;
  font-family: PreMedium;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pinkColor {
  color: #f66;
}

.petIntro {
  transition: border-color 0.3s;
  width: 92%;
  height: 121px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid #b3b3b3;
  font-family: PreMedium;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 10px;
}
