.radioBox {
  display: flex;
  border: 2px solid #ccc;
  padding: 10px;
  /* margin-right: 7px; */
  cursor: pointer;
  transition: border-color 0.3s;
  margin-top: 10px;
  color: gray;
  font-family: PreMedium;
  font-size: 15px;
  border-radius: 10px;
}

.radioBox.active {
  border-color: #ff8989;
  color: #ff8989;
}

.radioBox input[type="radio"] {
  display: none;
}

.questionNumber {
  color: #323232;
  font-family: PreSemiBold;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 40px;
}

.questionText {
  color: #323232;
  font-family: PreSemiBold;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 30px;
}
