.radioBox {
  display: inline-block;
  border: 2px solid #ccc;
  padding: 10px;
  margin-right: 7px;
  cursor: pointer;
  transition: border-color 0.3s;
  margin-top: 10px;
  color: gray;
  font-family: PreMedium;
  font-size: 17px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.radioBox.active {
  border-color: #ff8989;
  color: #ff8989;
}

.radioBox input[type="radio"] {
  display: none;
}
